<td><img src="{{quote.logo}}" alt="" /></td>
<td>Máximo<br>{{quote.rce.limite}}<br>Millones<br>Sin deducible</td>
<td><i class="now-ui-icons ui-1_check"></i></td>
<td><i class="now-ui-icons ui-1_simple-remove"></i></td>
<td>10% Min-1(SMMLV)</td>
<td>10% Min-1(SMMLV)</td>
<td>12 Servicios</td>
<td><i class="now-ui-icons ui-1_check"></i></td>
<td><i class="now-ui-icons ui-1_simple-remove"></i></td>
<td>$1,200,000</td>
<td>20 días</td>
<td>20 días</td>
<td>$35,000,000</td>
<td>{{quote.prima_total | currency:'USD':symbol:'1.0-2'}}</td>
<td><input type="checkbox" name="quote_selected" value="1" (click)="selectedQuote($event.currentTarget, quote)"></td>
